.grid-places {
	max-width: 1280px;
	margin: 0 auto;
	padding: 68px 70px 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	gap: 43px 20px;
	box-sizing: border-box;
	list-style: none;
	justify-items: center;
	grid-auto-columns: 270px;
	height: calc(100vh-200px);
}

@media screen and (max-width: 800px) {
	.grid-places {
		padding: 66px 30px 30px;
		grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
		gap: 48px 30px;
	}
}

@media screen and (max-width: 550px) {
	.grid-places {
		padding: 40px 10px 30px;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 35px;
	}
}
