.page-404 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-404__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
  flex: 1;
  margin-top: 74px;
}

.page-404__title {
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-size: 140px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 3px;
}

.page-404__text {
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media screen and (max-width: 800px) {
	.page-404__content {
    margin-top: 237px;
	}
}

@media screen and (max-width: 500px) {
	.page-404__content {
    margin-top: 329px;
	}

	.page-404__title {
		font-size: 80px;
		margin-bottom: 10px;
	}

	.page-404__text {
		font-size: 12px;
		margin-bottom: 272px;
	}
}
