.portfolio {
	padding: 0 70px 105px;
	display: flex;
	flex-direction: column;
	max-width: 1280px;
	box-sizing: border-box;
}

.portfolio__title {
	margin: 0;
	color: #8b8b8b;
	font-size: 18px;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 50px;
}

.portfolio__items {
	margin: 0;
	padding: 0;
}

.portfolio__item:last-child {
	border: none;
}

.portfolio__item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #424242;
	padding-bottom: 9px;
	margin-bottom: 20px;
}

.portfolio__subtitle {
	margin: 0;
	padding: 0;
	color: white;
	list-style: none;
	font-size: 30px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: -1.2px;
	display: inline-block;
}

.portfolio__link {
	height: 60px;
	background: url(../../images/strelka.svg) no-repeat center;
	align-items: center;
	min-width: 29px;
}

@media screen and (max-width: 800px) {
	.portfolio {
		padding: 17px 50px 90px;
	}

	.portfolio__title {
		color: #a0a0a0;
	}

	.portfolio__item {
		padding-bottom: 10px;
		margin-bottom: 19px;
	}

	.portfolio__subtitle {
		font-size: 28px;
	}

	.portfolio__link {
		min-width: 30px;
	}
}

@media screen and (max-width: 500px) {
	.portfolio {
		padding: 13px 14px 70px;
	}

	.portfolio__title {
		color: #a0a0a0;
		font-size: 14px;
		margin-bottom: 40px;
	}

	.portfolio__item {
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 20px;
	}

	.portfolio__subtitle {
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -0.72px;
	}

	.portfolio__link {
		height: 28px;
		min-width: 23px;
	}
}
