.register {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.register__content {
	margin: 71px auto 0;
	width: 396px;
}

.register__text {
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	margin: 0;
	text-align: center;
	color: #a0a0a0;
	font-size: 14px;
	line-height: 16px;
}

.register__footer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0;
}

@media screen and (max-width: 800px) {
	.register__text {
		color: #8b8b8b;
	}
  .register__content {
    margin: 230px auto 0;
    width: 396px;
  }
}

@media screen and (max-width: 550px) {
	.register__content {
		max-width: 260px;
		margin: 56px auto 30px;
	}

	.register__text {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0;
		text-align: center;
		color: #a0a0a0;
		font-size: 14px;
		line-height: 16px;
	}

	.button__auth-link {
		margin-left: 6px;
		color: #3456f3;
		text-decoration: none;
		transition: opacity 0.2s linear;
	}
	.register__text {
		font-size: 12px;
		line-height: normal;
		width: 145px;
	}
}
