.techs {
	padding: 92px 70px;
	color: white;
	background-color: #272727;
}

.techs__content {
	display: flex;
	flex-direction: column;
	margin: 90px 0 0;
}

.techs__subtitle {
	margin: 0 auto 26px;
	font-size: 50px;
	font-family: Inter;
	font-weight: 400;
	line-height: 58px;
	word-wrap: break-word;
}

.techs__text {
	max-width: 500px;
	margin: 0 auto 100px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	font-family: Inter;
	font-weight: 400;
	line-height: 20px;
	word-wrap: break-word;
}

.techs__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, 90px);
	gap: 10px 10px;
	justify-content: center;
	max-width: 100%;
	padding: 0;
	list-style-type: none;
}

.techs__item {
	text-align: center;
	padding: 21px 0 22px;
	box-sizing: border-box;
	height: 60px;
	margin: 0;
	border-radius: 10px;
	background-color: #303030;
	font-size: 14px;
	font-weight: 400;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.techs {
		padding: 94px 50px;
	}

	.techs__content {
		margin: 80px 0 0;
	}

	.techs__subtitle {
		margin: 0 auto 22px;
	}

	.techs__text {
		max-width: 460px;
		margin: 0 auto 83px;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}

	.techs__item {
		padding: 21px 0 22px;
		height: 57px;
		font-size: 12px;
	}
}

@media screen and (max-width: 500px) {
	.techs {
		padding: 71px 18px;
	}

	.techs .page__subtitle {
		border-bottom: 1px solid #000000;
	}

	.techs__content {
		margin: 48px 0 0;
	}

	.techs__subtitle {
		margin: 0 auto 9px;
		font-size: 30px;
	}

	.techs__text {
		margin: 0 auto 50px;
		font-size: 11px;
	}

	.techs__item {
		padding: 21px 0 22px;
		width: 84px;
		height: 57px;
		font-size: 12px;
	}
}
