.login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.login__content {
	margin: 72px auto 0;
	width: 396px;
}

.login__footer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0;
}

.login__text {
	margin: 0;
	text-align: center;
	color: #a0a0a0;
	font-size: 14px;
	line-height: 16px;
}

.button__auth-link {
	margin-left: 6px;
	color: #3456f3;
	text-decoration: none;
	transition: opacity 0.2s linear;
}

@media screen and (max-width: 800px) {
	.login__text {
		color: #8b8b8b;
	}
  .login__content {
    margin: 230px auto 0;
    width: 396px;
  }
}

@media screen and (max-width: 550px) {
	.login__content {
		margin: 56px auto 30px;
		max-width: 260px;
	}

	.button__auth-link {
		margin-left: 6px;
		color: #3456f3;
		text-decoration: none;
		transition: opacity 0.2s linear;
	}
	.login__text {
		font-size: 12px;
		line-height: normal;
	}

	.login__footer {
		margin: 0 auto;
	}
}
