.link:hover {
	opacity: 0.6;
	cursor: pointer;
}

.link {
	text-decoration: none;
}

.popup-opening:hover {
	border-bottom: #ffffff solid 2px;
}

.link-page-404 {
	margin: 0 auto;
	color: #4285f4;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	max-width: 42px;
	flex-shrink: 0;
	margin-bottom: 46px;
}

.popup-opening {
	padding-bottom: 7px;
	margin-bottom: 22px;
}

.popup-opening__text {
	color: white;
	font-size: 18px;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-weight: 500;
	line-height: 18px;
	word-wrap: break-word;
	padding: 0;
	margin: 0;
	padding-bottom: 3px;
}

.popup-opening__text_active {
	border-bottom: 2px solid #ffffff;
}

.link-accaunt {
	display: flex;
	justify-content: center;
	align-self: center;
	border-radius: 40px;
	box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.link-accaunt::after {
	content: "";
	width: 26px;
	height: 26px;
	background-color: #0f4157;
	background-image: url(../../images/img-accaunt.svg);
	background-size: 12px 12px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-left: 10px;
}

.link__text-accaunt {
	margin: 0;
	padding: 0;
	color: #fff;
	font-feature-settings: "clig" off, "liga" off;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 12px;
	margin-top: 7px;
}

.popup-accaunt {
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	margin-bottom: 87px;
}

.popup-accaunt::after {
	content: "";
	width: 26px;
	height: 26px;
	transform: translateY(-25%) translateX(27%);
	background-color: #0f4157;
	background-image: url(../../images/img-accaunt.svg);
	background-size: 12px 12px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.popup-accaunt-text {
	color: white;
	font-size: 13px;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-weight: 500;
	line-height: 12px;
	word-wrap: break-word;
	padding: 0;
	margin: 0;
}

.link-logo-sign {
	width: 38px;
	height: 38px;
	padding: 0;
	border: 0;
	margin: 0;
	background-image: url("../../images/logo.svg");
	background-size: cover;
	border-radius: 50%;
}

.link-logo {
	width: 38px;
	height: 38px;
	padding: 0;
	border: 0;
	margin: 18px 0 0 0;
	background-image: url("../../images/logo.svg");
	background-size: cover;
	border-radius: 50%;
}

.link__text {
	margin: 0;
	font-size: 12px;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-weight: 500;
}

.link__text_type_signup {
	color: white;
	line-height: 32px;
}

.link__text_type_signin {
	color: black;
	line-height: 16px;
}

.link__header-movie {
	margin-right: 16px;
}

.link__movies {
	color: #fff;
	text-align: right;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.link__movies_active {
	font-weight: 500;
}

.link-auth-text {
	margin: 0;
	padding: 0;
	margin-left: 6px;
	color: #4285f4;
	text-align: center;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.popup-accaunt::after {
		background-color: #313131;
	}

	.link-logo {
		margin: 18px 0 0 0;
	}

	.link-auth-text {
		margin-left: 7px;
		font-size: 14px;
	}

	.link-accaunt {
		display: none;
	}

	.link-page-404 {
		margin-bottom: 208px;
	}
}

@media screen and (max-width: 550px) {
	.link-page-404 {
		font-size: 12px;
		max-width: 36px;
		margin-bottom: 18px;
	}

	.popup-opening__text {
		font-size: 18px;
		font-weight: 500;
		padding-bottom: 8px;
	}

	.popup-opening {
		padding-bottom: 7px;
		margin-bottom: 12px;
	}

	.popup-accaunt {
		margin: 0 110px;
		margin-top: 427px;
	}

	.link-logo {
		margin-left: 0;
	}

	.link__text_type_signup {
		margin: 0;
		color: white;
		font-size: 10px;
		line-height: 24px;
	}

	.link__text_type_signin {
		font-size: 10px;
		line-height: 16px;
	}

	.link-logo-sign {
		margin: auto;
	}

	.link-auth-text {
		font-size: 12px;
		line-height: normal;
	}
}
